#calcBody {
  background-color: rgb(68, 68, 68);
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20px 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "message message message message message message"
    "seven eight nine . add equal"
    "four five six . subtract equal"
    "one two three . multiply equal"
    ". zero . . divide clear";
  column-gap: 4px;
  row-gap: 4px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 2px 0px 2px #000000;
  box-shadow: 1px 2px 0px 2px #000000;
}

h1 {
  text-align: center;
}

#messageBox {
  grid-area: message;
  text-align: right;
  background-color: #a2af77;
  height: 4rem;
  margin: 0.25rem 0 0.5rem 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  font-size: 3.5rem;
}

#message {
  margin-right: 5px;
}

button {
  width: 100%;
  padding-bottom: 30%;
  border-radius: 8px;
  font-size: x-large;
  text-align: center;
  padding-top: 30%;
  -webkit-box-shadow: inset 0px 0px 5px 7px rgba(0, 0, 0, 0.19);
  box-shadow: inset 0px 0px 5px 7px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.function {
  background-color: rgb(49, 49, 49);
  color: white;
}

.digit {
  background-color: rgb(122, 121, 121);
  color: white;
}

.operator {
  background-color: #f15a2b;
  color: white;
}

.clear {
  background-color: #af343c;
  color: white;
}

body {
  background-color: lightgray;
}
